<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (items.length === 0) { %>
        <p>No products in your cart</p>
    <% } else { %>
        <% items.forEach(item => { %>
            <div class="item">
                <h2><%= item.emri_produktit %></h2>
                <h4><%= item.pershkrimi_produktit %></h4>
                <h2><%= item.cmimi_produktit %></h2>
                <p>Quantity: <%= item.quantity %></p>
                <button class="remove-from-cart" data-id="<%= item.produkt_id %>">Remove</button>
            </div>
        <% }); %>
    <% } %>
<script>
    const removeFromCartButtons = document.querySelectorAll('.remove-from-cart');

    removeFromCartButtons.forEach(button => {
        button.addEventListener('click', e => {
            const itemId = e.target.getAttribute('data-id');
            const xhr = new XMLHttpRequest();
            xhr.open('DELETE', `/cart/${itemId}`, true);
            xhr.send();
            xhr.onload = function() {
                if (this.status === 200) {
                    console.log('Item removed from cart');
                    const deletedItem = e.target.parentNode;
                    deletedItem.parentNode.removeChild(deletedItem);
                } else {
                    console.error('Error removing item from cart');
                }
            }
        });
    });
</script>
</body>
</html>