<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <nav>
        <!-- whatever -->
        <a href="/">Home</a>
        <a href="/register">Regjistrohu</a>
        <a href="/login">Kyqu</a>
        <form id="search-form">
            <input type="text" id="search-input" autocomplete="off">
            <button type="submit">Search</button>
        </form>
        
        <div id="recommendations"></div>

        <a href="/cart" class="cart-count"></a>
    </nav>



    <% data.forEach(row=>{ %>
        <h2>Emri: <%= row.emri_produktit %></h2>
        <h3>Pershkrimi :<%= row.pershkrimi_produktit %></h3>
        <h3>Cmimi: <%= row.cmimi_produktit %></h3>
        <% if (row.sasia_produktit > 0) { %>
            <h2>Sasia: <%= row.sasia_produktit %></h2>
            <button class="add-to-cart" data-id="<%= row.id %>" data-is-logged-in="<%= isLoggedIn %>">Add to cart</button>
        <% } else { %>
            <p>Out of stock</p>
        <% } %>
    <% }) %>

    <script>
        const searchForm = document.getElementById('search-form')
        const searchInput = document.getElementById('search-input')
        const recommendations = document.getElementById('recommendations')

        searchInput.addEventListener('input', function() {
            if (this.value === '') {
                recommendations.innerHTML = ''
            } else {
                const xhr = new XMLHttpRequest();
                xhr.open('GET', '/search?q=' + this.value, true)
                xhr.send()
                xhr.onload = function() {
                    if (this.status === 200) {
                        const results = JSON.parse(this.responseText);
                        recommendations.innerHTML = ''
                        for (let i = 0; i < 4; i++) {  
                            const result = results[i];
                            if (!result) break; 
                            const li = document.createElement('li')
                            li.textContent = result.emri_produktit
                            li.setAttribute('data-id', result.id)
                            recommendations.appendChild(li)
                        }
                    }
                }
            }
            recommendations.addEventListener('click', function(e) {
                if (e.target.tagName === 'LI') {
                    const itemId = e.target.getAttribute('data-id')
                    window.location.href = '/produkt/' + itemId
                }
            })
        })
        searchForm.addEventListener('submit', function(e) {
            e.preventDefault();
        });



        const addToCartButtons = document.querySelectorAll('.add-to-cart');
        addToCartButtons.forEach(button => {
            button.addEventListener('click', e => {
                const isLoggedIn = e.target.getAttribute('data-is-logged-in') === 'true';
                if (!isLoggedIn) {
                    return window.location.href = '/login';
                }
                const itemId = e.target.getAttribute('data-id');
                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/cart', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({ id: itemId, quantity: 1 }));
                xhr.onload = function() {
                    if (this.status === 200) {
                        console.log('Item added to cart');
                    } else {
                        console.error('Error adding item to cart');
                    }
                }
            });
        });
        

        
        const xhr = new XMLHttpRequest();
        xhr.open('GET', '/cart/count', true);
        xhr.send();
        xhr.onload = function() {
            if (this.status === 200) {
                const cartCount = JSON.parse(this.responseText).count;
                const cartCountElement = document.querySelector('.cart-count');
                cartCountElement.innerHTML = cartCount;
            } else {
                console.error('Error fetching cart count');
            }
        }
    </script>
</body>
</html>