<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Striketech</title>
    <link rel="icon" href="/static/image/STRIKETECH-1.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/produktet.css">
</head> 
<body>
    <% data.forEach(row=>{ %>
        <div class="card-1">
            <form action="/edit/<%= row.id %>" class="form-product" method="POST">
                <input type="text" name="emri_produktit" placeholder="emri produktit" value="<%= row.emri_produktit %>">
                <textarea name="pershkrimi_produktit" placeholder="pershkrimi produktit"  id="" cols="30" rows="10"><%= row.pershkrimi_produktit %></textarea>
                <input type="text" name="cmimi_produktit" placeholder="cmimi produktit" value="<%= row.cmimi_produktit %>">
                <input type="text" name="origjina_produktit" placeholder="origjina produktit" value="<%= row.origjina_produktit %>">
                <input type="number" name="sasia_produktit" placeholder="sasia" value="<%= row.sasia_produktit %>" id="">
                <input type="text" name="foto_produktit" placeholder="URL e fotos se produktit" value="<%= row.foto_produktit %>">
                <select name="kategoria" id="">
                    <option value="studiodevices">Studio Devices</option>
                    <option value="gaming">Gaming</option>
                    <option value="phone&headphones">phone&headphones</option>
                    <option value="watches&cameras">Watches&cameras</option>
                </select>
                <input type="image" src="" alt="">
                <input type="submit" value="Submit">
            </form>
            <form action="/delete/<%=row.id %>" method="POST" >
                <input type="submit" class="fshimja" value="X">
            </form>
        </div>
    <% }) %>

    <main class="mainProdukts">
        <% images.forEach((image, index) => { %>
            <div class="images">
                <img src="data:image/jpeg;base64,<%= image.foto_produktit.toString('base64') %>" alt="Product Image">
                <form action="/updateImage/<%= image.id %>" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="fileInput" class="file-input">
                    <button type="submit">Edit Image</button>
                </form>
                
                <button class="delete-button" onclick="deleteImage('<%= image.id %>')">X</button>
            </div>
        <% }); %>
    </main>
    
    <form action="/insertImage/<%= id %>" method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="file-input">
        <button type="submit">Upload Image</button>
    </form>

    
    <% if (typeof alert !== 'undefined') { %>
        <% if (alert === 'Produkti u perditsua') {%>
            <div class="alert alert-success alert-dismissible fade show fixed-top" role="alert">
                <%= alert %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <%}else { %>
            <div class="alert alert-danger alert-dismissible fade show fixed-top" role="alert">
                <%= alert %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
    <% } %>
    <script>
        // Delete an image
async function deleteImage(imageId) {
    try {
        const response = await fetch(`/deleteImage/${imageId}`, {
            method: 'DELETE'
        });

        if (response.ok) {
            // Reload the page to reflect the changes
            location.reload();
        } else {
            console.error('Failed to delete image');
        }
    } catch (error) {
        console.error('Error deleting image:', error);
    }
}


    </script>
</body>
</html>