<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Striketech</title>
    <link rel="icon" href="/static/image/STRIKETECH-1.png">
    <link rel="stylesheet" href="/static/css/produkt.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" >

</head>
<body>
    <!-- navbari -->
    <nav class="imagesa navbar navbar-expand-lg navbar-light">
        <div class="pjesa1">
            <div class="logoja">
                <a href="/"><img class="logo" src="/static/image/STRIKETECH-1.png" alt=""></a>
            </div>
        </div>
        <div class="pjesa2">
            <div class="rcmn">
                <form id="search-form">
                    <input type="text" id="search-input" placeholder="Search..." autocomplete="off">
                    <button class="search-submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
                <div id="recommendations"></div>
            </div>
        </div>
        <div class="button1">
            <button 
            style="background-color: #087EA2; position: relative; right: 10px; "
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" 
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-nav w-33 " id="navbarSupportedContent">
            <a  id="a1" class="nav-link" href="/">Home</a>
            <a  id="a1" class="nav-link" href="/register">Register</a>
            <% if (isLoggedIn) { %>
                <form action="/logout" id="logout-form" method="POST">
                    <input type="submit" id="a1" class="nav-link" value="Logout">
                </form>
            <% } else { %>
                <a id="a1" class="nav-link" href="/login">Login</a>
            <% } %>
            <div class="carda">
                <a href="/cart"><a class="cart-color" href="/cart"><i   class="fa-sharp fa-solid fa-cart-shopping"></i></a></i><sup><a href="/cart" style="color: white; text-decoration: none;" class="cart-count"></a></sup></a>
            </div>
        </div>
    </nav>
<!-- navbari -->


<!-- Main-product-section -->
<main id="ProductMain">
    <section id="ProductSection">
        <aside class="Main-image ImageSlider aside">
            <div class="slideshow-container">
                <% images.forEach((image, index) => { %>
                    <div class="mySlides fade1">
                        <img onclick="openFullscreen(this)" data-index="<%= index %>" class="clickable-image" src="data:image/jpeg;base64,<%= image.foto_produktit.toString('base64') %>" alt="Product Image">
                    </div>
                <% }); %>
                

                <% images.forEach((image, index) => { %>
                    <div id="fullscreenDiv"onclick="closeFullscreen()" class="fullscreen-overlay">
                        <span class="close-btn" onclick="closeFullscreen()">&times;</span>
                        <img src="data:image/jpeg;base64,<%= image.foto_produktit.toString('base64') %>" style="max-width: 100%; max-height: 100%;" onclick="stopPropagation(event)"">
                    </div>
                <% }); %>

                <footer>
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <div class="dot-container" style="text-align: center;">
                        <% images.forEach((image, index) => { %>
                            <span class="dot" data-index="<%= index %>" onclick="handleDotClick(this)">
                                <img src="data:image/jpeg;base64,<%= image.foto_produktit.toString('base64') %>" alt="Thumbnail Image">
                            </span>
                        <% }); %>
                        
                    </div>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                </footer>
            </div>
        </aside>
        <aside class="ProductInsights aside">
            <div class="CompanyName">
                <a href="">
                    <%= item.company_name %>
                </a>
            </div>

            <div class="ProductName">
                <h1>
                    <%= item.emri_produktit %>
                </h1>
            </div>

            <form action="/produkt/<%= item.id %>" method="POST">
                <input type="hidden" name="product_id" value="<%= item.id %>">
                <input type="hidden" name="comment" value="<%= item.comment %>">
                <div class="RatingsDiv">
                    <div class="average_rating">
                        <svg width="15" height="15" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.469 22.5a.75.75 0 0 1-.44-.14L12 17.99l-6.029 4.37a.75.75 0 0 1-1.15-.847l2.35-6.965-6.093-4.178A.75.75 0 0 1 1.5 9h7.518l2.268-6.981a.75.75 0 0 1 1.427 0l2.27 6.984H22.5a.75.75 0 0 1 .424 1.369l-6.096 4.176 2.35 6.963a.75.75 0 0 1-.71.99Z"></path>
                        </svg>
                        <%=averageRating%>
                    </div>
                    <span class="block_rating__reviews"> <%= reviewCount %> Reviews </span>
                </div>
                <div class="block_rating clearfix">
                    <fieldset class="block_rating__stars">
                        <input type="radio" id="star5" name="rating" value="5"/><label
                            class="full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating"
                                value="4 and a half"/><label class="half" for="star4half"
                                title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4"/><label
                            class="full" for="star4" title="Good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating"
                                value="3 and a half"/><label class="half" for="star3half"
                                title="Above average - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3"/><label
                            class="full" for="star3" title="Average - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating"
                                value="2 and a half"/><label class="half" for="star2half"
                                title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2"/><label
                            class="full" for="star2"
                            title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating"
                                value="1 and a half"/><label class="half" for="star1half"
                                title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1"/><label
                            class="full" for="star1"
                            title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half"/><label
                            class="half" for="starhalf"
                            title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                
                    <input type="submit" value="Submit review">
                </div>
            </form>
            
            <div class="PriceDiv">
                <h1>
                    <%= item.cmimi_produktit %> €
                </h1>
                <svg width="10" height="10" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_230_2)">
                        <path d="M18 4C15.2311 4 12.5243 4.82109 10.222 6.35943C7.91973 7.89777 6.12532 10.0843 5.06569 12.6424C4.00607 15.2006 3.72882 18.0155 4.26901 20.7313C4.80921 23.447 6.14258 25.9416 8.10051 27.8995C10.0584 29.8574 12.553 31.1908 15.2687 31.731C17.9845 32.2712 20.7994 31.9939 23.3576 30.9343C25.9157 29.8747 28.1022 28.0803 29.6406 25.778C31.1789 23.4757 32 20.7689 32 18C32 14.287 30.525 10.726 27.8995 8.1005C25.274 5.475 21.713 4 18 4Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_230_2">
                            <rect width="36" height="36" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <h1>
                    Garancion <%= item.garancioni %> vite
                </h1>
                <svg width="10" height="10" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_230_2)">
                        <path d="M18 4C15.2311 4 12.5243 4.82109 10.222 6.35943C7.91973 7.89777 6.12532 10.0843 5.06569 12.6424C4.00607 15.2006 3.72882 18.0155 4.26901 20.7313C4.80921 23.447 6.14258 25.9416 8.10051 27.8995C10.0584 29.8574 12.553 31.1908 15.2687 31.731C17.9845 32.2712 20.7994 31.9939 23.3576 30.9343C25.9157 29.8747 28.1022 28.0803 29.6406 25.778C31.1789 23.4757 32 20.7689 32 18C32 14.287 30.525 10.726 27.8995 8.1005C25.274 5.475 21.713 4 18 4Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_230_2">
                            <rect width="36" height="36" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <h1>
                    Kodi serik: <span><%= item.serialcode %></span>
                </h1>
            </div>
            <div id="CreditDiv">
                <img src="/static/image/Mastercard-Download-PNG.png" alt="">
                <img src="/static/image/VISA.png" alt="">
                <h3>
                    deri në 12 këste pa kamatë për vetëm <span>$<%= dividedPrice %></span> në muaj
                </h3>
            </div>

            <div class="Quantity">
                Sasia <hr>
            </div>

            <div class="quantity-input">
                <div class="custom-number-input">
                    <input type="number" name="quantity" id="quantity" value="1" min="1" max="<%= item.sasia_produktit %>" class="styled-input-number">
                    <div class="PlusMinus">
                        <button type="button" class="quantity-increment">+</button>
                        <button type="button" class="quantity-decrement">-</button>
                    </div>
                </div>
            </div>

            <div class="Quantity">
                Transporti <hr>
            </div>

            <section class="TransportSection">
                <img src="/static/image/icons8-delivery-scooter-94.png" alt="">
                <div class="TransportText">
                    <h3>Transport 24h</h3>
                    <h3>Mbrenda ne Kosove falas</h3>
                    <h3>Jasht kosoves pagese extra</h3>
                </div>
            </section>

            <div class="Quantity">
                Pagesa <hr>
            </div>

            <section class="PriceSection">
                <div class="Cash">
                    <img src="/static/image/icons8-cash-48.png" alt="">
                    <h3>Pagesa ne dore</h3>
                </div>
                <div class="Onlinepayment">
                    <img src="/static/image/icons8-online-payment-48.png" alt="">
                    <h3>Pagese online</h3>
                </div>
                <div class="TransferBank">
                    <img src="/static/image/icons8-bank-building-48.png" alt="">
                    <h3>Pagese me tranfer bankar</h3>
                </div>
            </section>

            <% if (item.sasia_produktit > 0) { %>
                <div class="addtoCart">
                    <button class="add-to-cart data-id="<%= item.id %>" data-is-logged-in="<%= isLoggedIn %>">
                        <img src="/static/image/icons8-add-to-cart-53.png" alt="">
                        Add to cart
                    </button>
                </div>
            <% } else { %>
                <p class="out-of-stock">Out of stock</p>
            <% } %>
        </aside>
    </section>
</main>
<main id="MainDesription">
    <footer id="ProductDES">
        <div class="Button-DIV-DES">
            <button class="toggle-button" id="button1">Pershkrimi</button>
            <button class="toggle-button" id="button2">Detajet</button>
        </div>
        
        <div class="content" id="content1">
            <p><%= item.pershkrimi_produktit %></p>
        </div>
        
        <div class="content" id="content2">
            <p>This is Div 2 content.</p>
        </div>
    </footer>
</main>


<!-- Main-product-section -->

<!-- footer -->
<footer class="text-center text-lg-start text-white" style=" background-color: #05A7BE;">
    <div class="container p-4 pb-0">
        <section>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">StrikeTech</h6>
                        <p>
                            Our company is the best at selling every brand of technology thinks.
                            Come and get everythink you need to us.
                        </p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class=" mb-4 font-weight-bold">PRODUCTS</h6>
                    <p class="plast"><button type="button" class="filter-button fund" data-value="studiodevices">Studio Devices</button></p>
                    <p class="plast"><button type="button" class="filter-button fund" data-value="gaming">Gaming stuff</button></p>
                    <p class="plast p1"><button type="button" class="filter-button fund " data-value="phone&headphones">Phones & Headphones</button></p>
                    <p class="plast p1"><button type="button" class="filter-button fund " data-value="watches&cameras">Watches & Cameras</button></p>
                </div>
            <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="mb-4 font-weight-bold">ACCOUNT</h6>
                    <p><a id="f1">My orders</a></p>
                    <p><a id="f1">My address</a></p>
                    <p><a id="f1">My User</a></p>
                </div>
            <hr class="w-100 clearfix d-md-none" />
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="mb-4 font-weight-bold">CONTACT</h6>
                    <p><i class="fas fa-envelope mr-3"></i>Striketech.KS@gmail.com</p>
                    <p><i class="fas fa-home mr-3"></i> Kosovë, Pejë, Filan Fisteku 7</p>
                    <p><i class="fas fa-phone mr-3"></i>+383 49 115 898</p>
                    <p><i class="fas fa-print mr-3"></i>+383 49 116 898</p>
                </div>
            </div>
        </section>
    <hr class="my-3">
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <div class="p-3">
                        © 2023 Copyright:<p class="copy" style="color:  rgb(13, 0, 255)" href="/"> StrikeTech</p>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <a class="btn btn-outline-primary btn-floating m-1" class="text-white" role="button"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-floating m-1" class="text-white" role="button"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-danger btn-floating m-1" class="text-white" role="button"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </section>
    </div>
</footer>
<!-- footer -->
    <script src="/static/js/Produkt.js" defer></script>
</body>
</html>
